global
  daemon
  maxconn 4096
  log 127.0.0.1 local0 debug

defaults
    mode http
    timeout connect 30000ms
    timeout client 50000ms
    timeout server 10000ms
    option  httplog
    option  dontlognull
    option forwardfor

listen stats *:5000
  stats enable
  stats uri /
  stats hide-version
  stats auth admin:password

frontend http
 bind 0.0.0.0:80
 reqadd X-Forwarded-Proto:\ http
